<div class="row">
  <div class="col-sm-6" style="backgound: #123">
    <ul>
      <%= render @carts %>
    </ul>
  </div>
  <div class="col-sm-1" style="backgound: #123">

  </div>
  <div class="col-sm-3" style="backgound: #123">
    <hr>
    <h3>Thông tin đơn hàng</h3>
    <hr>
    <h3 id="total">Tổng tiền : </h3>
    <button class="btn btn-success">Thanh toán</button>
  </div>
</div>

<script>
  $("li input").on("change",function () {
      price = document.getElementsByClassName("price").length;
      quantity = document.getElementsByClassName("quantity");
      console.log(quantity[0])
  })
//  $("li input").on("change",function () {
//      var id = this.id.substring(5);
//      var quantity = this.value;
//      console.log(id);
//      console.log(quantity);
//      $.ajax({
//          url: "/carts",
//          type: "post",
//          dataType: "json",
//          data: {cart:{id: id,quantity: quantity}},
//          success: function (res) {
//              console.log(res.total)
//              $("#total").text("Tổng tiền : " + res.total + " VND")
//          }
//      })
//  })
</script>