<<<<<<< HEAD
<div style="background: #eee;">
=======
<%= render partial: "foods/header", locals: {food: @food, category: @food.food_category} %>
<div id="show-food-body">
>>>>>>> ca7521a2a1d1ced656122f05dd0eb7cd421d9b8e
  <%= render "foods/panel" %>
</div>
